[mysqld]
user = www-data

log_warnings = 2
character-set-server = utf8mb4

skip-log-bin

max_connections = 10
skip-external-locking
table_open_cache = 10
key_buffer_size = 0
query_cache_size = 0
read_buffer_size = 64K
read_rnd_buffer_size = 64K
net_buffer_length = 2K
innodb_buffer_pool_size = 5M
innodb_log_file_size = 4M
